

.Results h2, .Results h3, .Results .phonetics{
    text-align: center;
}
.Results .phonetics{
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width: 25%;
    text-align: center;
    margin:0 auto;
    padding: 12px 0;

}
.Results h3{
    text-align: center;
    margin:0 auto;
    display:block;
    align-items: center;
}
